/* Kontainer utama */
.music-container {
  background-color: #1a1a3d;
  color: white;
  min-height: 100vh;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
}

.image-section {
  display: flex;
  justify-content: left;
  align-items: left;
  position: relative;
}

.image-overlay {
  position: relative;
  
}

.music-image {
  max-width: 100%;
  width: 800px;
  margin-top: 100px;
  height: 850px;
}

.overlay-content {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  z-index: 1;
}

.song-title {
  font-size: 28px;
  font-weight: bold;
  text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5);
  margin-bottom: 150px;
  margin-top: 150px;
}

.music-controls {
  display: flex;
  justify-content: center;
  gap: 10px;
  margin-bottom: 100px;
}

.download-btn {
  display: block;
  margin: auto;
  padding: 12px 20px;
  font-size: 16px;
  font-weight: bold;
  color: yellow;
}

/* Bagian Kanan */
.music-section {
  flex: 1;
  text-align: left;
  padding: 20px;
}

.inspiration-title {
  font-size: 50px;
  font-weight: bold;
  color: #ffcc00;
  margin-bottom: 50px;
  margin-top: 100px;
}

.inspiration-title span {
  color: #ff4081;
}

.inspiration-text {
  font-style: italic;
  margin-bottom: 50px;
  margin-right: 80px;
  margin-left: 20px;
  text-align: center;
}

.ai-title {
  font-size: 20px;
  font-weight: bold;
  color: #ff1493;
  text-transform: uppercase;
  margin-bottom: 150px;
  text-align: center;
}

.lyric-input {
  width: 80%;
  height: 200px;
  padding: 10px;
  font-size: 16px;
  border-radius: 5px;
  background: #15133c;
  border: 1px solid white;
  color: rgb(92, 141, 130);
  margin-bottom: 50px;
}

.create-btn {
  display: block;
  padding: 10px 20px;
  font-size: 16px;
  font-weight: bold;
  background: linear-gradient(45deg, #ff1493, #ffcc00);
  border: none;
}

/* RESPONSIVE DESIGN */
@media (max-width: 768px) {
  .music-container {
    flex-direction: column;
  }

  .image-section, .music-section {
    width: 100%;
    margin-bottom: 20px;
  }

  .image-section {
    margin-bottom: 20px;
  }

  .music-section {
    text-align: center;
  }

  .overlay-content {
    top: 60%;
  }
}

@media (max-width: 480px) {
  .song-title {
    font-size: 20px;
  }

  .inspiration-title {
    font-size: 20px;
  }

  .ai-title {
    font-size: 16px;
  }

  .btn-primary, .download-btn {
    font-size: 14px;
    padding: 8px 16px;
  }
}
